body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-carousel {
  .carousel .thumbs-wrapper {
    margin-top: 20px; /* Adjust the margin-top value as needed to create the desired gap */
  }
}

/* CSS for small screens (max-width: 600px) */
@media (max-width: 600px) {
  .navbar-container {
    display: none;
  }
}

/* CSS for medium and larger screens (min-width: 601px) */
@media (min-width: 601px) {
  .responsive-nav-container {
    display: none;
  }
}
